n8n_json/embeddings.json
{
  "name": "embeddings",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        32,
        1696
      ],
      "id": "1855dafa-b200-4947-a6cd-2feec4bc914f",
      "name": "iniciar"
    },
    {
      "parameters": {
        "jsCode": "// Convertir texto PDF a chunks para embeddings\nconst items = $input.all();\nconst outputItems = [];\n\n// Configuración de chunking\nconst CHUNK_SIZE = 800;\nconst CHUNK_OVERLAP = 200;\n\nfor (const item of items) {\n  let textArray = item.json.text;\n  \n  if (!Array.isArray(textArray) || textArray.length === 0) {\n    continue;\n  }\n  \n  // Unir todas las páginas\n  let text = textArray.join('\\n\\n');\n  \n  // Limpiar texto\n  text = text.replace(/\\s+/g, ' ').trim();\n  \n  // Convertir a markdown\n  text = text.replace(/Guía Operativa para Proveedores de\\s*PRIMA AFP/g, '# Guía Operativa para Proveedores de PRIMA AFP\\n\\n');\n  text = text.replace(/(\\d+\\.\\s+[A-ZÁÉÍÓÚÑ][^:]+:)/g, '\\n## $1\\n');\n  text = text.replace(/\\[([A-ZÁÉÍÓÚÑ][A-ZÁÉÍÓÚÑ\\s]+)\\]/g, '\\n### $1\\n');\n  text = text.replace(/•\\s+/g, '\\n- ');\n  text = text.replace(/\\n{3,}/g, '\\n\\n');\n  \n  // CREAR CHUNKS MANUALMENTE\n  const chunks = [];\n  let start = 0;\n  \n  while (start < text.length) {\n    let end = start + CHUNK_SIZE;\n    \n    if (end < text.length) {\n      const lastPeriod = text.lastIndexOf('.', end);\n      const lastNewline = text.lastIndexOf('\\n', end);\n      const bestBreak = Math.max(lastPeriod, lastNewline);\n      \n      if (bestBreak > start + CHUNK_SIZE * 0.5) {\n        end = bestBreak + 1;\n      }\n    }\n    \n    const chunk = text.substring(start, end).trim();\n    \n    if (chunk.length > 50) {\n      chunks.push(chunk);\n    }\n    \n    start = end - CHUNK_OVERLAP;\n  }\n  \n  // Crear un item por cada chunk - IMPORTANTE: el campo debe llamarse 'text'\n  for (let i = 0; i < chunks.length; i++) {\n    outputItems.push({\n      json: {\n        text: chunks[i]\n      }\n    });\n  }\n}\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        1696
      ],
      "id": "24bea479-5de2-4c1c-af30-e8107840aed8",
      "name": "convertir_y_chunk",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        880,
        1856
      ],
      "id": "1afb9429-6fbe-40a6-9f2e-9307e483c403",
      "name": "Document Loader"
    },
    {
      "parameters": {
        "url": "https://gfuuqizbzxvylbvsvsjk.supabase.co/storage/v1/object/public/poc10/guia-proveedores-prima-afp.pdf",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        1696
      ],
      "id": "4a771669-8ca1-47aa-9b27-c49e8f1a1c74",
      "name": "descargar_pdf",
      "credentials": {
        "supabaseApi": {
          "id": "aAdsCdfzM8DRX6Th",
          "name": "supabase_poc10"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        320,
        1696
      ],
      "id": "8aee2fcd-043a-4f23-8195-e7497309a62f",
      "name": "extraer_texto_pdf"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        752,
        1696
      ],
      "id": "fe94025d-906e-4ec3-aac8-179ef7964fa5",
      "name": "vector",
      "credentials": {
        "supabaseApi": {
          "id": "aAdsCdfzM8DRX6Th",
          "name": "supabase_poc10"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        752,
        1856
      ],
      "id": "05f6e1b0-998e-4c79-9d9e-b2ab299596f4",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "wC5k9nfhP8vKa1sp",
          "name": "openai_poc10"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 300
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        880,
        2000
      ],
      "id": "660d9b53-56f8-4764-9d98-5211a1ce8a80",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "content": "# MD + EMBEDDINGS + CHUNK + VECTOR STORAGE\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nPrimero split de 1000 + 200 overlap \nLuego 2 split de 1000 + 300 overlap -------->",
        "height": 576,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        1552
      ],
      "typeVersion": 1,
      "id": "3b08e80d-42ab-4b30-bf27-01d501b9db71",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# DESCARGA  Y EXTRACCION DEL DOCUMENTO PDF",
        "height": 576,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1552
      ],
      "typeVersion": 1,
      "id": "99d32b0b-8ce8-45ab-a92e-f7800164b17a",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "iniciar": {
      "main": [
        [
          {
            "node": "descargar_pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convertir_y_chunk": {
      "main": [
        [
          {
            "node": "vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Loader": {
      "ai_document": [
        [
          {
            "node": "vector",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "descargar_pdf": {
      "main": [
        [
          {
            "node": "extraer_texto_pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extraer_texto_pdf": {
      "main": [
        [
          {
            "node": "convertir_y_chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "vector",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Document Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c99634ea-7916-465c-bdf9-eb46fd78998d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0048be561be8ce8465645b9402273a44a270634fe9daeef83a17ba3f6be05638"
  },
  "id": "QTRuFVdggSnQ1oPu",
  "tags": [
    {
      "createdAt": "2025-11-20T18:05:08.630Z",
      "updatedAt": "2025-11-20T18:05:08.630Z",
      "id": "knAAtWPojkUQrEaR",
      "name": "production"
    }
  ]
}